<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.107.8" targetFramework="net472" />
  <package id="AWSSDK.Polly" version="3.3.103.102" targetFramework="net472" />
  <package id="AWSSDK.Rekognition" version="3.3.105.38" targetFramework="net472" />
  <package id="AWSSDK.Translate" version="3.3.101.70" targetFramework="net472" />
</packages>